body {
    text-align: center;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

#icon-close-button {
    width: 2em;
}

/* DEFAULT SECTION  */

#default {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: row;
    background-color: black;
}

.button-default-section {
    background-color: beige;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin: 5em;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* SLOT MACHINE SECTION  */

#slot-machine {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    background-color: black;
}

.slot {
    height: 30em;
    width: 30em;
    overflow: hidden;
    position: relative;
    border: none;
}

.slot #symbol {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.spin {
    animation: spin 0.2s linear infinite;
}

.spin-button {
    padding: 1em;
    border-radius: 0.5em;
    font-size: 1.5em;
}



@keyframes spin {
    0% {
        transform: rotateY(0);
    }

    100% {
        transform: rotateY(-100%);
    }
}

.slot.stop img {
    animation-play-state: paused;
}

/* SLIDE SHOW SECTION */

#slide-show {
    width: 100%;
    height: 100vh !important;
}

.carousel {
    height: 90% !important;
}

.carousel-item img {
    width: 100%;
    height: 100vh;
}